/*
p {
 color: #ff0000;
 background-color: #0000ff;
}
*/
h1 {
  color: #ffffff;
  background-color: #80CBB3;
}

#specialid {
  color: #00ff00;
  background-color: #000000;
}

.specialp {
  color: #00ff00;
  background-color: #FFFFFF;
}
a {
 color: #ff0000;
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}


footer {
  color: #ffffff;
  background-color: #ff0000;
}
#divexample{
  color: #0000ff;
  background-color: #ffff00;
}
.spanstyle {
  color: #00ff00;
}
